<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Headlines</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- ionChange se diaparara cuando cambie de segmento-->
  <ion-segment value="bussines" (ionChange)="segmentChanged($event)" mode="md" scrollable="true">
    <ion-segment-button value="pizza">
      <ion-label>Bussines</ion-label>
    </ion-segment-button>
    <ion-segment-button value="sport">
      <ion-label>Sport</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
