<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      News app 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">News app</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid >
    <ion-row>
      <!--Itero sobre el array-->
      <ion-col *ngFor="let article of articles; let i = index">
        <!--Creo una tarjeta por cada elemento (noticia)-->
        <ion-card>
          <ion-card-subtitle class="ion-margin">
            <!--Print el num. del elemento y el origen de la noticia-->
            <span class="text-primary">{{ i+1 }}. </span>
            <span class="article-source-name">{{article.source.name}}</span>
          </ion-card-subtitle>
          <!--Addwd news title w/ styles-->
          <ion-card-title class="ion-padding-horizontal ion-margin-bottom">
            {{ article.title}}
          </ion-card-title>
          <!--add img solo si existe lo guardo en [src]-->
          <ion-img *ngIf="article.urlToImage" [src]="article.urlToImage" >
          </ion-img>
          <!--Add content, if no content, use *ngIf-->
          <ion-card-content *ngIf=" article.description">
            <p>{{ article.description}}</p>
          </ion-card-content>

        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
