<ul class="list-group">
    <a [routerLink] ='menu_routes.path'
     class="list-group-item" 
    *ngFor="let menu of menu_routes">
        {{ menu_routes.name}}
    </a>
    
    <!-- 02 Using ngFor 
    <a routerLink ='/about' class="list-group-item">
        About
    </a>

    <a routerLink ='/home' class="list-group-item">
        Contact
    </a>
    -->
    
    <!-- 01 Using Href, insted routerlink
    <a href="" class="list-group-item">
    Go to anywhere, from menu.component, using app-menu selector
    </a>
    -->
    

</ul>
